body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}
#contenedor {
  outline: 1px solid red;
  width: 937px;
  margin: 12px auto;
}
/* sidebar */
#sidebar {
  float: left;
  width: 214px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
#sidebar a:visited {
  text-decoration: none;
}
#sidebar a:link {
  text-decoration: none;
}
#userimg {
  text-align: center;
}
#sidebar img {
  margin-top: 39px;
  margin-bottom: 39px;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar li a {
  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-top: 1px;
  display: block;
  width: 154px;
  height: 55px;
  text-align: left;
  line-height: 55px;
  background-color: #2d98cd;
  color: white;
  font-size: 10pt;
  font-weight: 400;
}
#sidebar .activo {
  background-color: #0b5a82;
}
#sidebar .ultimo {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* final sidebar */
/* main data */
#data {
  top: 0;
  float: right;
  /* outline: 1px solid green; */
  width: 685px;
}

/* tabla */
table {
  line-height: 40px;
  width: 685px;
  border: 1px solid #bcbcbc;
  border-collapse: separate;
  border-left: 0;
  border-radius: 5px;
  border-spacing: 0px;
}
thead {
  background-color: #dadada;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
  font-size: 14px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th,
td {
  height: 40px;
  padding: 5px 4px 6px 4px;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #bcbcbc;
  padding-left: 10px;
}
td {
  border-top: 1px solid #bcbcbc;
}
thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 5px 0 0 0;
}
thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

tr:nth-child(2) {
  background-color: #efefef;
}
#lista span {
  display: block;
  margin-bottom: 8px;
  font-size: 10pt;
}
#lista {
  margin-top: 34px;
}
/* final de tabla */
